.section-class
{
    background-color: rgb(240, 223, 202);
}

.details-class
{

    padding: 10px;
    background-color: rgb(238, 234, 228);
    border-radius: 10px;
}

.description-class
{
    text-align: left;
    text-align: justify;
}
.image-class
{
    border: 2px solid black;
    border-radius: 10px;
}
.check-button
{
    background-color: orange;
    border: none;
    border-radius: 5px;
}
.link-class-check
{
    text-decoration: none;
    color: black;
}
.link-class-check:hover
{
    color:black
}