.add-form-class
{
    background-color: rgb(204, 204, 204);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.add-form input
{
    margin-bottom: 10px;  
    border-radius: 2px;
    border: none;
}

::placeholder
{
    color: rgb(155, 26, 26);
}
.btn-class
{
    background-color: rgb(145, 52, 140);
    color: white;
    border-radius: 5px;
    border: none;
}

