
.add-form-class
{
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.add-form input
{
    margin-bottom: 10px;  
    border-radius: 2px;
    border: none;
}
.btn-class-submit
{
 background-color: purple;
 color: white;
 width: 50%;
 margin: 0 auto;
 padding: 5px;
}


.btn-class
{
    background-color: rgb(145, 52, 140);
    color: white;
    border-radius: 5px;
    border: none;
}

